<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
</head>

<body>
  <header>
    <h1 style="color: red; text-align: center;">Contact form</h1>
  </header>
  <main>
    <form action="/contact_us" method="POST">
      <label for="username">User name: </label>
      <input type="text" name="username" id="username">
      <label for="email">User email: </label>
      <input type="email" name="email" id="email">
      <br><br><br>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>

</html>